.marqueeStyle {
    width="auto";
    direction="left";
    height="100px";
    background-color: aqua;
    right: 50px;
    top: 10px;
}

.image {
    height: 410px;
    width: 620px;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    right: 30px;
    top: 10px;
}

li{
    float: right;
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

li a:hover{
    background-color: #111;
    
}